main {
    padding-top:4rem;
    background-color: #101820;
    padding-bottom:11.5rem;
}
.Settings {
    padding-top:2rem;
    padding-bottom:2rem;
    font-size:1.5rem;
    color:Black;
}
.white {
  background-color: rgb(222, 220, 220) !important;
}
.Box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.Box1 {
    height:3rem;
    width:100%;
    max-width:25rem;
    padding:0.5rem;
    border:1px solid grey;
    background-color:white;
    color:black;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right {
    display:flex;
    justify-content: flex-end;
}
.decision {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    gap: 0.5rem;
    position: fixed;
    width: auto;
    height:auto;
    padding: 0.8rem;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.3);
}
.buttons-player {
    padding: clamp(0.3rem, 1.8vw, 1rem);
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    color: white;
    min-width: 90px;
    max-width: 120px;
    background-color: darkgreen;
}
.unavailable {
    color:grey;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.Play-Btn {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0f5327;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:0.2rem;
    cursor:pointer;
    padding: 1rem;
    font-size:1.5rem;
    height:4rem;
    width:55%;
    max-width: 15rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.Play-Btn:hover {
    background-color: #0f762f;
    transform: translateY(-2px);
}
.Play-Btn:active {
    transform: translateY(0);
    background-color: #24492f;
}