main {
    padding-top:4rem;
    background-color: #101820;
    padding-bottom:11.5rem;
}
.Settings {
    padding-top:2rem;
    padding-bottom:2rem;
    font-size:1.5rem;
    color:Black;
}
.settings-color {
  background-color: rgb(222, 220, 220);
  height:100dvh;
}
.main-color {
    background-color: #101820;
    height:100dvh;
}
.Box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.Box1 {
    height:3rem;
    width:100%;
    max-width:25rem;
    padding:0.5rem;
    border:1px solid grey;
    background-color:white;
    color:black;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right {
    display:flex;
    justify-content: flex-end;
}
.decision {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    gap: 0.5rem;
    position: fixed;
    width: auto;
    height:auto;
    padding: 0.8rem;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.3);
}
.buttons-player {
    padding: clamp(0.3rem, 1.8vw, 1rem);
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    color: white;
    min-width: 80px;
    max-width: 120px;
    background-color: darkgreen;
}
.unavailable {
    color:grey;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.Play-Btn {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0f5327;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:0.2rem;
    cursor:pointer;
    padding: 1rem;
    font-size:1.5rem;
    height:4rem;
    width:55%;
    max-width: 15rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.Play-Btn:hover {
    background-color: #0f762f;
    transform: translateY(-2px);
}
.Play-Btn:active {
    transform: translateY(0);
    background-color: #24492f;
}
.card_player,
.card_dealer {
  position:relative;
  border:2px solid black;
  width: clamp(80px, 10vw, 150px);
  font-size: clamp(15px, 2vw, 23px);
  height: auto;
  aspect-ratio: 2 / 3.5;
  background-color:white;
  color:black;
  border-radius:0.4rem;
  padding:5px;
  overflow: hidden;
}
.card_dealer {
  transform: rotate(180deg);
}
.down {
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);

}
.card-container_player,
.card-container_dealer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap:20px;
}

.card-container_player {
  bottom: 20px;
}

.card-container_dealer {
  top: 20px;
}
.card_player,
.card_dealer {
  margin-left: -60px;
}
.card_player:first-child,
.card_dealer:first-child {
  margin-left: 0;
}
.card_player:hover,
.card_dealer:hover {
  z-index: 10;
}
.overlay {
  position: fixed; /* Da prekrije celo okno */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Temno ozadje */
  display: flex;
  justify-content: center; /* Centriranje na sredino */
  align-items: center;
  z-index: 1000; /* Da je zagotovo vrh vsega */
}

.shuffling {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  color:black;
}
.back_card_pattern {
  position:absolute;
  background-image: url("/back of card pattern/back_card_pattern.jpg");
  top: 0;
  left: 0;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.result-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  width: 20%;
  height: 25%;
  background-color: white;
  color: black;
  border-radius:0.4rem;
  padding:5px;
  gap:20px;
}
.result-overlay h1 {
  font-family:math;
  font-size: clamp(1.1rem, 2.5vw, 1.3rem);
}
.dimmed-background {
  position:fixed;
  height:100vh;
  width:100vw;
  top:0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index:1000;
}
.new-hand {
    padding: clamp(0.3rem, 1.8vw, 1rem);
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: rgb(12, 67, 30);
    border-radius:0.4rem;
}