@if (active_screen === 'rules' ) {
<main class="settings-color">
    <div class="Box">
        <button class="Play-Btn" (click)="StartGame('game')">Start</button>
        <h1 class="Settings">Settings</h1>
        <div class="Box1">
            <p>Betting</p>
        <label class="switch right">
            <input type="checkbox" [(ngModel)]="BET">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="Box1">
        <label for="NOD">Number of decks</label>
            <select id="NOD" name="NOD" [(ngModel)]="NOD">
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="6">6</option>
                <option [ngValue]="8">8</option>
            </select>
    </div>
    <div class="Box1">
        <p>Dealer Hits Soft 17</p>
        <label class="switch right">
            <input type="checkbox" id="DHS17" [(ngModel)]="DHS17">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="Box1">
        <p>Can Double After Split</p>
        <label class="switch right">
            <input type="checkbox" [(ngModel)]="CDAS">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="Box1">
        <label for="NOD">Doubling Available</label>
            <select id="DA" name="DA" [(ngModel)]="DA">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
            </select>
    </div>
    <div class="Box1">
        <p>Resplitting Aces</p>
        <label class="switch right">
            <input type="checkbox" [(ngModel)]="RA">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="Box1">
        <p>Surrender</p>
        <label class="switch right">
            <input type="checkbox" [(ngModel)]="SURR">
            <span class="slider round"></span>
        </label>
    </div>

    </div>
    
</main>

}
@if (active_screen === 'game' ) {
<main class="main-color">

    @if (gameOver) {
        <div class="dimmed-background">
            <div class="result-overlay">
                <h1>{{gameResult}}</h1>
                <button (click)="resetHand()" class="new-hand">New Hand</button>
            </div>
        </div>
    }
    

    <div class="player">
        <fieldset [disabled]="isShuffling || !PlayersTurn">
            <div class="decision">
                <button (click)="Hit()"  id="hit" class="buttons-player">HIT</button>
                <button  (click)="Stand()" id="stand" class="buttons-player">STD</button>
                <button  id="double" class="buttons-player">DBL</button>
                <button  id="split" class="buttons-player">SPL</button>
                <button  id="surrender" class="buttons-player">SUR</button>
                <button  id="insurance" class="buttons-player">INS</button>
            </div>
        </fieldset>
    </div>
    <div class="card-container_dealer" name="dealerHand">
        @for (card of dealerHand; track card.id; let  i = $index) {
            @if (i === 0 && !gameOver) {
                <div class="card_dealer">
                    <img class="back_card_pattern" src="back_card_pattern/back_card_pattern.jpg">
                </div>
            }
            @else {
               <div class="card_dealer">
                <div class="value">{{card.value}}</div> 
                        <div>{{card.card_pattern}}</div>
                    <div class="down">
                        <div class="value">{{card.value}}</div> 
                        <div>{{card.card_pattern}}</div>
                    </div>
                </div> 
            }
        }
    </div>
    
    <div class="card-container_player" name="playerHand">
        @for (card of playerHand; track card.id) {
        <div class="card_player">
            <div class="value">{{card.value}}</div> 
                <div>{{card.card_pattern}}</div>
            <div class="down">
                <div class="value">{{card.value}}</div> 
                <div>{{card.card_pattern}}</div>
            </div>
        </div>
        }
    </div>

    @if (isShuffling) {
        <div class="overlay">
        <div class="shuffling">
        <h2>Shuffling cards...</h2>
        </div>
        </div>
    }


</main>
}
