* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden; /* Prepreči horizontalno skrolanje */
  width: 100%;
}
main {
    background-color:brown;
    height: 100dvh;
}
.main-home {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-family: math;
}
.Grid {
    display:grid;
    grid-template-columns: repeat(1,1fr);
    justify-content:center;
    align-items: center;
    gap:0.5rem;
    margin-top:auto;
    margin-bottom:auto;
}
.Grid-2 {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:center;
    align-items: center;
    gap:0.5rem;
    margin-top:auto;
    margin-bottom:auto;
}
.Menu-Bts {
    background-color: rgb(230, 6, 6);
    color: black;
    border-radius:0.2rem;
    cursor:pointer;
    padding: 0.8rem;
    font-size:1.2rem;
    border:1px solid rgb(67, 17, 27);
    height:3.5rem;

}
.Menu-Bts-Play {
    height:5rem;
}
.Back:hover,
.Menu-Bts:hover {
        background-color:rgb(197, 9, 9);
}
.Title {
    color:black;
    font-size:3rem;
    padding-top:4rem;
}
.Subtitle {
    font-size:1rem;
}
.Back {
    background-color: rgb(230, 6, 6);
    border-radius:0.2rem;
    cursor:pointer;
    padding:0.4rem;
    color:black;
    font-size:1.2rem;
    border:1px solid rgb(67, 17, 27);
}
footer {
    font-family:math;
    margin-bottom:7rem;
}