main {
    background-color:#101820;
    color:#d1d8e0;
    padding-top:4rem;
    padding-bottom:1.5rem;
}
.input-EV-calc {
    background-color:#304d66;
    width:5rem;
    border: 3px solid rgba(255, 255, 255, 0.1);
}
.Container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.Align-Container {
    display:flex;
    flex-direction:center;
    padding:10px;
    gap:10px;
    font-size:1.1rem;
}
.Align-Title {
    display:flex;
    flex-direction:center;
    padding:10px;
    gap:3rem;
    padding-right:35px;
    border:1px solid black;
    font-size:1.1rem;
}
.Output-ev {
    border: 2px solid white;
    font-size:1.2rem;
}
.Box {
    border:1px solid white;
}